{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false,
                "corejs": {
                    "version": 3,
                    "proposals": true // 使用尚在“提议”阶段特性的 polyfill
                }
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            // 所有对象的设值都需要进行getter setter操作
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        // 对象的..扩展
        "@babel/plugin-proposal-object-rest-spread",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ]
    ]
}